<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.promotion.VIPCardMapper">

    <resultMap id="VIPCardStrategy" type="com.example.cinema.po.VIPCardStrategy">
        <result column="id" property="id"></result>
        <result column="price" property="price"></result>
        <result column="description" property="description"></result>
        <result column="target_amount" property="targetAmount"></result>
        <result column="discount_amount" property="discountAmount"></result>
    </resultMap>

    <insert id="insertStrategy" parameterType="com.example.cinema.po.VIPCardStrategy"
            useGeneratedKeys="true" keyProperty="id">
        insert into vip_card_strategy(price, description, target_amount, discount_amount)
        values(#{price}, #{description}, #{targetAmount}, #{discountAmount})
    </insert>

    <update id="updateStrategy" parameterType="com.example.cinema.po.VIPCardStrategy">
        update vip_card_strategy
        set price = #{price}, description = #{description},
            target_amount = #{targetAmount}, discount_amount = #{discountAmount}
        where id = #{id}
    </update>

    <select id="selectStrategyById" resultMap="VIPCardStrategy">
        select * from vip_card_strategy where id=#{id}
    </select>

    <select id="selectStrategies" resultMap="VIPCardStrategy">
        select * from vip_card_strategy
    </select>

    <select id="strategyUseCount" resultType="int">
        select count(*) from vip_card where strategy_id = #{id}
    </select>

    <resultMap id="VIPCard" type="com.example.cinema.po.VIPCard">
        <result column="id" property="id"></result>
        <result column="strategy_id" property="strategyId"></result>
        <result column="user_id" property="userId"></result>
        <result column="balance" property="balance"></result>
        <result column="join_time" property="joinDate"></result>
    </resultMap>

    <insert id="insertOneCard" parameterType="com.example.cinema.po.VIPCard"
            useGeneratedKeys="true" keyProperty="id">
        insert into vip_card(strategy_id, user_id, balance)
        values(#{strategyId}, #{userId}, #{balance})
    </insert>

    <update id="updateCardStrategy" >
        update vip_card set strategy_id = #{strategyId} where id = #{id}
    </update>

    <update id="updateCardBalance" >
        update vip_card set balance = #{balance} where id = #{id}
    </update>

    <select id="selectCardById" resultMap="VIPCard">
        select * from vip_card where id=#{id}
    </select>

    <select id="selectCardByUserId" resultMap="VIPCard">
        select * from vip_card where user_id=#{userId}
    </select>

    <resultMap id="VIPCardCharge" type="com.example.cinema.po.VIPCardCharge">
        <result column="id" property="id"></result>
        <result column="vip_card_id" property="vipCardId"></result>
        <result column="time" property="time"></result>
        <result column="amount" property="amount"></result>
    </resultMap>

    <insert id="insertOneChargeRecord"
            parameterType="com.example.cinema.po.VIPCardCharge"
            useGeneratedKeys="true" keyProperty="id">
        insert into vip_card_charge(vip_card_id, payment, amount)
        values(#{vipCardId}, #{payment}, #{amount})
    </insert>

    <select id="selectChargeRecordsByCard" resultMap="VIPCardCharge">
        select * from vip_card_charge where vip_card_id = #{vipCardId}
    </select>

</mapper>