<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>影院统计</title>
    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminStatistic.css"/>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- echart -->
    <script src="/js/echarts.js"></script>
    <!-- 公共方法 -->
    <script src="/js/request.js"></script>
    <script src="/js/adminCinemaStatistic.js"></script>
</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/member"><i class="icon-credit-card"></i> 会员卡管理</a></li>
            <li role="presentation"><a href="/admin/refund/strategy"><i class="icon-ticket"></i> 退票策略管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"  class="active"><a href="#"><i class="icon-bar-chart"></i> 影院统计</a></li>
        </ul>
    </div>

    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">影院统计</span>
        </div>
        <div class="card table-container" id="schedule-rate-container">
        </div>
        <div class="card table-container" id="box-office-container">
        </div>
        <div class="card table-container" id="audience-price-container">
        </div>
        <div class="card" style="margin:20px 0;padding:20px;">
            <div style="display: flex;justify-content: space-between">

                <div>
                    <span>选择日期  </span>
                    <input type="date" class="form-control" id="place-date-input" style="display: inline-block;width: 180px;">
                </div>

                <button type="button" class="btn btn-primary" id="place-rate-btn">查找上座率</button>
            </div>
        </div>
        <div class="card table-container" id="place-rate-container">
        </div>
        <div class="card" style="margin:20px 0;padding:20px;">
            <div style="display: flex;justify-content: space-between">
                <div>
                    <span>选择天数  </span>
                    <input type="number" class="form-control" id="popular-day-input" style="display: inline-block;width: 180px;">
                </div>
                <div>
                    <span> 选择电影数量 </span>
                    <input type="number" class="form-control" id="popular-movieNum-input" style="display: inline-block;width: 180px;">
                </div>

                <button type="button" class="btn btn-primary" id="popular-movies-btn">查找最受欢迎的几部电影</button>
            </div>
        </div>
        <div class="card table-container" id="popular-movie-container">
        </div>
    </div>
</div>
</body>
</html>