<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购票</title>
	<!-- Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	<!-- font-asesome图标库 -->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

	<!-- 引入css样式文件 -->
	<link rel="stylesheet" type="text/css" href="/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/css/userBuy.css"/>

	<!-- 引入js脚本文件 -->
	<!-- jquery -->
	<script src="/js/jquery.js"></script>
	<!-- Bootstrap 核心 JavaScript 文件 -->
	<script src="/js/bootstrap.js"></script>
	<script src="/js/request.js"></script>
	<script src="/js/userBuy.js"></script>

</head>

<body>
<!--顶部导航container-->
<div class="nav-top-container">
	<div class="nav-logo title">NJU-Se电影购票系统</div>
	<ul class="nav nav-pills">
		<li role="presentation"><a href="/user/home">首页</a></li>
		<li role="presentation"><a href="/user/movie">电影</a></li>
	</ul>
	<div class="btn-group">
		<button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
		        aria-expanded="false">
			<img class="avatar-sm" src="/images/defaultAvatar.jpg"/>
			<span class="gray-text" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#">电影票</a></li>
			<li><a href="/user/member">卡包</a></li>
			<li><a href="/user/check/consumption">查看消费记录</a></li>
			<li id="logout"><a href="#">登出</a></li>
		</ul>
	</div>
</div>

<!--内容详情container-->
<div class="content-container">
	<div>
		<div>
			<b>我的电影票</b>
		</div>

		<div class="table-container">
			<table class="table">
				<tbody id="tbody">
				</tbody>
			</table>
			<div id="try-it">
			</div>
		</div>
	</div>
</div>
</body>


<!--用户取票Modal-->
<div class="modal fade" id="pickUpTicketModal" tabindex="-1" role="dialog"
     aria-labelledby="pickUpTicketModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="pickUpTicketModalLabel">用户取票</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">


					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">票号</label>
						<span class="col-sm-10 pick-up-ticket-text" id="pick-up-ticket-ticketid"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">电影名称</label>
						<span class="col-sm-10 pick-up-ticket-text" id="pick-up-ticket-moviename"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">影厅号</label>
						<span class="col-sm-10 pick-up-ticket-text" id="pick-up-ticket-hallname"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">开始时间</label>
						<span class="col-sm-10 pick-up-ticket-text" id="pick-up-ticket-starttime"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">结束时间</label>
						<span class="col-sm-10 pick-up-ticket-text" id="pick-up-ticket-endtime"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">座位号</label>
						<span class="col-sm-10 pick-up-ticket-text" id="pick-up-ticket-seat"></span>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" id="pick-up-ticket-form-btn">确认取票</button>
			</div>
		</div>
	</div>
</div>


<!--用户退票Modal-->
<div class="modal fade" id="refundTicketModal" tabindex="-1" role="dialog"
     aria-labelledby="pickUpTicketModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="refundTicketModalLabel">申请退票</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">电影票号</label>
						<span class="col-sm-10 refund-ticket-text" id="refund-ticket-ticketid"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">电影名称</label>
						<span class="col-sm-10 refund-ticket-text" id="refund-ticket-moviename"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">影厅号</label>
						<span class="col-sm-10 refund-ticket-text" id="refund-ticket-hallname"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">距离开影时间</label>
						<span class="col-sm-10 refund-ticket-text" id="refund-ticket-time"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">座位号</label>
						<span class="col-sm-10 refund-ticket-text" id="refund-ticket-seat"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">实际支付</label>
						<span class="col-sm-10 refund-ticket-text" id="refund-ticket-payment"></span>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label primary-text">退款金额</label>
						<span class="col-sm-10 refund-ticket-text" id="refund-ticket-amount"></span>
					</div>

<!--					<div class="form-group" >-->
<!--						<span class="col-sm-10" id="refund-ticket-info"></span>-->
<!--					</div>-->

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" id="refund-ticket-form-btn">确认退票</button>
			</div>
		</div>
	</div>
</div>


</html>