.strategy-container {
    flex-basis: 30%;
    display: flex;
    width: 100%;
    min-height: 50px;
    margin: 20px 0;
}

.strategy-item1 {
    flex-shrink:0;
    min-width:35%;
    flex-direction: column;
    padding: 30px;
    justify-content: space-around;
}
.strategy-item2 {
    flex-shrink:0;
    min-width:75%;
    flex-direction: column;
    padding: 30px;
    justify-content: space-around;
}
.content-header {
    display: flex;
    justify-content: space-between;
}

.content-card{
    width:100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: nowrap;
    color: white;
}
.card{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: black;
    background-color: white;
    height: auto;

}


