.content-header {
    display: flex;
    justify-content: space-between;
}


.card{
    flex: 1;
    padding: 20px;
    width: 100%;
    min-height:150px;
    color: black;
    background-color: white;
    margin-top: 20px;

}
.table > tbody > tr > td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align:middle;
    border-top: 1px solid #dddddd;
}
.itemtop{
    line-height:3
}
.item{
    line-height:3;
}
.item:hover{
    background: #f6faff;
}


