.big {
    font-size: 20px;
}

.strategy-container {
    display: flex;
    width: 100%;
    min-height: 180px;
    margin: 20px 0;
}

.strategy-item {
    background: url("../images/vipCard.jpg");
    background-size: 100% 100%;
    border-radius: 10px;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    justify-content: space-around;
}

.strategy-item:hover {
    box-shadow: 10px 10px 5px #888888;
}

.content-header {
    display: flex;
    justify-content: space-between;
}

.content-member {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.discount {
    color: yellow;
}

.amount {
    font-size: 18px;
}

.SE {
    color: #00d6e9;
}