.content-header {
    display: flex;
    justify-content: space-between;
}

.strategy-detail {
    display: block;
    margin: 10px 0 10px 0;
}

.strategy-details {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.strategy-item {
    list-style: none;
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 10px 10px 0;
}

.strategy-item:hover {
    background-color: rgba(28, 175, 154, 0.12);
}

.strategy-info {
    flex: 1;
    padding: 10px 20px 0 20px;
}

.strategy-title {
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    padding: 0 0 10px 0;
}

.add-movie-for-strategy {
    
}