.card{
   background-color: white;
    padding: 20px;
}
.item{
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    flex-direction: row;
    flex: 1;
    background-color: white;
}
.item:hover{
    background: rgba(129, 175, 166, 0.12);
}
