.order-card {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin: 10px 0 10px 0
}

.order-container {
    font-size: 25px;
    padding: 10px;
}

.order-detail {
    display: block;
    margin: 10px 10px 10px 10px
}

.seat-card {
    padding: 10px;
    background-color: white;
    font-size: 15px;
}

.table-wrapper {
    padding: 20px;
}

.table-wrapper .table b {
    color: #1caf9a;
    font-size: 20px;
}

.table-wrapper .table td{
    height: 60px;
    vertical-align: middle;
}

.card {
    padding: 30px 40px;
    color: #444444;
    margin-bottom: 40px;
}

.card .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 5px 0;
}

.card .header .title {
    font-size: 24px;
    font-weight: 500;
}

.pick-up-ticket-text{
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px;
}
